{% assign title = post.title | markdownify | strip_html %}
<div class="archive__item" style="font-size: 0.8rem;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser | prepend: base_path }}" alt="{{ title }}">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline" style="font-size: 1.05rem;">
      {% if post.link %}
        <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">{{ title }} <i class="fas fa-external-link-alt" style="font-size: 0.7rem;"></i></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    <p style="margin: 0.2rem 0 0.4rem;">
      <!-- <strong>Role:</strong> Project Lead<br/> -->
      <small>{{ post.date | date: "%b %Y" }} — {% if post.end_date %}{{ post.end_date | date: "%b %Y" }}{% else %}Present{% endif %}</small>
    </p>

    {% if post.categories %}
        <p style="font-size: 0.68rem; color: #666; margin: 0.2rem 0;">
            Categories: 
            {% for cat in post.categories %}
            <span style="background: #f2f2f2; padding: 0.1em 0.3em; border-radius: 3px; margin-right: 0.25em;">
                {{ cat }}
            </span>
            {% endfor %}
        </p>
    {% endif %}


    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt }}</p>
    {% endif %}

    <!-- <div class="archive__item-body">
      {{ post.content | markdownify }}
    </div> -->

  </article>
</div>
